{% extends 'home.html' %}

{% block content %}



	<br>
	<div class="container">

		<li class="list-group-item list-group-item-secondary"><h2>Appointments Made:</h2></li>

		{% if all_appointments %}
			{% for times in all_appointments %} <!--you can call 'times' anything you want to reference it later-->

			<!--Write a FOR loop for the title giving it a number--><!--     -->
				<!--{% if schedules %}-->
				<!--{% for numbers in schedules %}-->
			<!--<h2>{{numbers.schedules}}</h2>-->  <!--everything in Block Content is only displayed on it's page-->
				<!--{% endfor %}-->
				<!--{% endif %}-->
			<br>
			<div class="col-sm">
				<ul class="list-group">
					<li class="list-group-item list-group-item-primary">Appointment Scheduled:</li>


					<li class="list-group-item"><strong>First Name:</strong> {{ times.first }}</li>
					<li class="list-group-item"><strong>Last Name:</strong> {{ times.last }}</li>
					<li class="list-group-item"><strong>Date:</strong> {{ times.date }}</li>
					<li class="list-group-item"><strong>Start time:</strong> {{ times.start }}</li>
					<li class="list-group-item"><strong>End time:</strong> {{ times.end }}</li>
					<li class="list-group-item"><strong>Location:</strong> {{ times.location }}</li>
					<a href="{% url 'edit' times.id %}" class="btn btn-block btn-primary">Edit Appointment</a>
					<br>
					<hr>
				</ul>
			</div>


				
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}