{% extends 'home.html' %}

{% block content %}
	<br>
	<div class="container">
		<h2>Schedules</h2>  <!--everything in Block Content is only displayed on it's page-->
		<br>
		<div class="col-sm">
			<ul class="list-group">
				<li class="list-group-item list-group-item-primary">Appointment Scheduled:</li>
				<li class="list-group-item"><strong>Date:</strong></li>
				<li class="list-group-item"><strong>Start time:</strong></li>
				<li class="list-group-item"><strong>End time:</strong></li>

			</ul>
		</div>
	</div>
{% endblock %}