{% extends 'home.html' %}

{% block content %}



	<br>
	<div class="container">

		<li class="list-group-item list-group-item-secondary"><h2>Appointments Made:</h2></li>

		{% if all_appointments %}
			{% for times in all_appointments %} <!--you can call 'times' anything you want to reference it later-->


			<!--Write a FOR loop for the title giving it a number--><!--     -->
				<!--{% if schedules %}-->
				<!--{% for numbers in schedules %}-->
			<!--<h2>{{numbers.schedules}}</h2>-->  <!--everything in Block Content is only displayed on it's page-->
				<!--{% endfor %}-->
				<!--{% endif %}-->

			

			<br>
			<div class="col-sm">
				<ul class="list-group">
					<li class="list-group-item list-group-item-primary">{{ forloop.counter}} - Appointment Scheduled:</li>
					<li class="list-group-item"><strong>First Name:</strong> {{ times.first }}</li>
					<li class="list-group-item"><strong>Last Name:</strong> {{ times.last }}</li>
					<li class="list-group-item"><strong>Coach:</strong> {{ times.coach }}</li>
					<li class="list-group-item"><strong>Point of Focus:</strong> {{ times.focus }}</li>
					<li class="list-group-item"><strong>Date:</strong> {{ times.date }}</li>
					<li class="list-group-item"><strong>Start time:</strong> {{ times.start }}</li>
					<li class="list-group-item"><strong>End time:</strong> {{ times.end }}</li>
					<li class="list-group-item list-group-item-dark" id="locay2"><strong>Location:</strong> {{ times.location }}</li>


						<div id="facilblock">
							<li class="list-group-item list-group-item-light"><strong>Facility Name:</strong><p class="efacil"> {{ times.facility }}</p></li>
							<li class="list-group-item list-group-item-light"><strong>Address:</strong><p class="efacil"> {{ times.address }}</p></li>
							<li class="list-group-item list-group-item-light"><strong>City:</strong><p class="efacil"> {{ times.city }}</p></li>
							<li class="list-group-item list-group-item-light"><strong>State:</strong><p class="efacil"> {{ times.state }}</p></li>
							<li class="list-group-item list-group-item-light"><strong>Zipcode:</strong><p class="efacil"> {{ times.zipcode }}</p></li>
						</div>


						<!--I NEED BELOW TO HAPPEN FOR ALL TIMES IN ALL APPOINTMENTS-->

						<style type="text/css">
							.hidden {
								display: none !important;
							}
						</style>


						<!--Dissapearence Javascript for facilblock if None is in value for entries-->
						<script type="text/javascript">
							//Determine which line the rest of these grab {{ times.city }}
						   outputs = "{{ times.city }}";
			               var menuItems = document.querySelectorAll('.list-group-item'); //Node list grab so you can erase the WHOLE menu item
			                
			               if (outputs == "None")
			                {			      
			                	//Have to iterate thru every 
			               		menuItems[10].classList.add('hidden')
			               		menuItems[11].classList.add('hidden')
			               		menuItems[12].classList.add('hidden')
			               		menuItems[13].classList.add('hidden')
			               		menuItems[14].classList.add('hidden')

			               	}

			            </script>

			            <script type="text/javascript">
						
							var outputs = document.querySelectorAll('.efacil');
						   line2 = outputs[24];
			               var menuItems = document.querySelectorAll('.list-group-item'); //Node list grab so you can erase the WHOLE menu item
			                
			               if (line2 == "None")
			                {			      
			                	//Have to iterate thru every 
			               		menuItems[24].classList.add('hidden')
			               		menuItems[25].classList.add('hidden')
			               		menuItems[26].classList.add('hidden')
			               		menuItems[27].classList.add('hidden')
			               		menuItems[28].classList.add('hidden')

			               	}
			               		console.log(line2);
			            </script>

			                 <script type="text/javascript">
							//var a = document.getElementById("efacil").value;
							var outputs = document.querySelectorAll('.efacil');
						   line3 = outputs[38];
			               var menuItems = document.querySelectorAll('.list-group-item'); //Node list grab so you can erase the WHOLE menu item
			                
			               if (line3 == "None")
			                {			      
			                	//Have to iterate thru every 
			               		menuItems[38].classList.add('hidden')
			               		menuItems[39].classList.add('hidden')
			               		menuItems[40].classList.add('hidden')
			               		menuItems[41].classList.add('hidden')
			               		menuItems[42].classList.add('hidden')

			               	}
			               		
			            </script>
			               		



			               		
			               
			               	
						
						
			
					<a href="{% url 'edit' times.id %}" class="btn btn-block btn-primary">Edit Appointment</a>
					<br>
					<hr>
				</ul>
			</div>




				
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}